@using HamburgerTown.ViewModels;
@model HamburgerViewModel



<div class="card-header; text-center;">
    <h2 style="color:darkkhaki; text-align:center">ADMİN HAMBURGER UPDATING PAGE</h2>



    @if (Model != null)
    {
        <h3 class="text-center"> Güncellenecek Hamburger: @Model.HamburgerName Fiyatı: @Model.HamburgerPrice </h3>
    }



</div>
<div class="card-body">
    <form asp-area="Admin" asp-controller="Hamburger" asp-action="Guncelle" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="HamburgerName">HAMBURGER NAME:</label>
            <input asp-for="HamburgerName" type="text" class="form-control" />
            <span asp-validation-for="HamburgerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HamburgerPrice">HAMBURGER PRICE:</label>
            <input asp-for="HamburgerPrice" type="text" class="form-control" />
            <span asp-validation-for="HamburgerPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HamburgerPicture">HAMBURGER PICTURE UPDATE:</label>
            <input asp-for="HamburgerPicture" type="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">UPDATE</button>
    </form>
</div>